doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0 user-scalable=no')
    title!=page + ' - fram'
    link(rel='stylesheet', href='assets/vendor/static/mdl/material.min.css')
    link(rel='stylesheet', href='assets/vendor/static/mdl/icon.css')
    script(src='assets/vendor/static/mdl/material.min.js')
    link(rel='stylesheet', href='css/main.css')
  body
    //- Header
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.main-header
        .mdl-layout__header-row
          span.mdl-layout-title.main-title fram - pushbullet electronified
          .mdl-layout-spacer
          .mdl-layout-spacer
      .mdl-layout__drawer
        nav.mdl-navigation.mdl-layout
          a.mdl-navigation__link(href="/support") Support
          a.mdl-navigation__link(href="/api/logout") Logout
        p.copyright
          | © 2015-today moi
      //- Left menu with options
      //- Body with content
      .mdl-layout__content.content
        block content
        //- Dock with action buttons
      footer.mdl-mini-footer.dock
        block foot
